<div class="audio-container container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form hx-post="{% url 'upload' %}" 
                          enctype="multipart/form-data" hx-target=".audio-container">
                        {% csrf_token %}
                        <div class="mb-3">
                          <label for="file" class="form-label">Choose Audio file</label>
                          <input type="file" class="form-control" name="file" id="file" 
                          placeholder="upload a audio file" aria-describedby="fileHelpId">
                          <div id="fileHelpId" class="form-text">Only upload Mp3 and Wav files</div>
                        </div>
                        <div class="mb-3">
                          <label for="image" class="form-label">Choose Thumbnail</label>
                          <input type="file" class="form-control" name="image" id="image" placeholder="select a thumbnail" aria-describedby="fileHelpId">
                          <div id="fileHelpId" class="form-text">Only upload image files</div>
                        </div>
                        <button class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        All available audio files
                    </div>
                    {% for item in audiolist %}
                        <audio src="{{item}}" controls></audio>
                        by {{item.user}}
                    {% empty %}
                        <div class="alert alert-danger" role="alert">
                            <strong>No Audio files</strong> Upload yourself.
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>